// Заголовки, общие БЄМ блоки и проче...
.title {}

.btn {
	min-height: 55px;
	border-radius: 30px;
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 20px;
	@include adaptiveValue("font-size", 20, 16);
	text-align: center;
	color: #FFFFFF;
	transition: all 0.3s ease 0s;

	&:hover {
		opacity: .8;
	}


	&::before {
		font-size: 18px;
		margin-right: 10px;
	}
}