// Заголовки, общие БЄМ блоки и проче...
.title {
	font-weight: 500;
	@include adaptiveValue("font-size", 36, 26);
	line-height: math.div(43, 36);
	text-align: center;
	@include adaptiveValue("margin-bottom", 45, 20);
	position: relative;

	&::before {
		content: '';
		position: absolute;
		width: 20%;
		height: 100%;
		top: 15px;
		left: 50%;
		transform: translate(-50%);
		border-bottom: 2px solid #ACDB70;
	}
}

.btn {
	min-height: 55px;
	border-radius: 30px;
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 20px;
	@include adaptiveValue("font-size", 20, 16);
	text-align: center;
	color: #FFFFFF;
	transition: all 0.3s ease 0s;

	&:hover {
		opacity: .8;
	}


	&::before {
		font-size: 18px;
		margin-right: 10px;
	}
}