//====================================================================================================
.header {
	padding-top: 25px;
	position: relative;
	z-index: 5;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__actions {
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width:$mobile) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			background: #fff;
			padding: 20px;
			border-radius: 10px;
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
		}
	}

	&__actions-location {
		font-weight: 500;
		line-height: math.div(19, 16);
		@include adaptiveValue("margin-right", 40, 15);

		@media (max-width:$tablet) {
			display: none;
		}

		@media (max-width:$mobile) {
			display: inline-block;
			font-size: 1.2em;
			margin-bottom: 7px;
		}
	}

	&__actions-phone {
		font-weight: 600;
		font-size: 22px;
		line-height: 26px;
		transition: all 0.3s ease 0s;

		&:hover {
			opacity: .8;
		}

		@media (max-width:$tablet) {
			display: none;
		}

		@media (max-width:$mobile) {
			display: block;
		}
	}
}

.logo {
	font-weight: 600;
	font-size: 22px;
	line-height: math.div(26, 22);
}

.menu {

	&__body {
		@media (max-width:$mobile) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 70px;
			left: -100%;
			overflow: auto;
			background: rgba(245, 245, 245, 1);
			padding: 40px 20px;
			z-index: 4;
			transition: all 0.3s ease 0s;

			.menu-open & {
				left: 0;
			}

			&::before {
				content: '';
				position: absolute;
				position: fixed;
				height: 70px;
				width: 100%;
				top: 0px;
				left: 0;
				z-index: 50;
			}
		}
	}

	&__list {
		display: flex;
		align-items: center;

		@media (max-width:$mobile) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__item {
		@include adaptiveValue("margin-right", 20, 10);
		font-weight: 500;

		&:last-child {
			margin-right: 0;
		}

		@media (max-width:$tablet) {
			margin-bottom: rem(25);
			font-size: 26px;
		}
	}

	&__link {}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $mainColor;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - rem(1));
		}

		.menu__body {
			display: block;
			background-color: #000;
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}