//====================================================================================================
.main {
	position: relative;
	margin-top: -70px;
	@include adaptiveValue("padding-bottom", 90, 30);

	&__container {}

	&__body {
		position: relative;
		z-index: 2;
		@include adaptiveValue("padding-top", 150, 100);
	}

	&__title {
		font-weight: 600;
		@include adaptiveValue("font-size", 65, 44);
		line-height: math.div(75, 65);
		text-align: center;
		max-width: rem(872);
		margin: auto;
		@include adaptiveValue("margin-bottom", 70, 30);

		span {
			color: $greenColor;
		}
	}

	&__actions {
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptiveValue("margin-bottom", 70, 30);
		flex-wrap: wrap;
	}

	&__actions-btn {
		padding: 20px 45px;
		min-width: rem(265);
		color: white;
		display: flex;
		justify-content: center;
		@include adaptiveValue("margin-right", 50, 20);

		&:last-child {
			margin-right: 0;
		}

		@media (max-width:$mobile) {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}

	&__actions-btn-tel {
		background: linear-gradient(180deg, #405DE6 0%, rgba(43, 57, 130, 0.25) 100%);
	}

	&__actions-btn-wh {
		background: linear-gradient(180deg, #ACDB70 0%, #559800 100%);
	}

	&__item {
		max-width: 1000px;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		background: rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(4px);
		border-radius: 10px;
		padding: 15px;
		color: white;

	}

	&__item-box {
		display: flex;
		align-items: center;
		margin: 10px;

		img {
			width: 25px;
			height: 25px;
			margin-right: 10px;
		}

		span {
			font-weight: 500;
			@include adaptiveValue("font-size", 18, 16);
			line-height: math.div(22, 18);
		}
	}

	&-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}



//====================================================================================================